




{% extends 'base.html' %}

{% block content %}
{{block.super}}

<div class="container">
    <div class="row">
        <div class="col-lg-6 m-auto align-items-center custom-header">
            <h1 class="hi text-center">Welcome To<br>Dawat Cafe Restaurent</h1>
        </div>

        <div class="col-lg-6">
            <img src="static/resturent.jpg" alt="Resturent Image 1" class="img-fluid" style="max-height: 600px; width: 100%;" />
        </div>
    </div>
</div>

{% endblock %}





















